*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.leftParent{
    height: 100vh;
    width: 50%;
    float: left;
    background-color: black;
}

.rightParent{
    height: 100vh;
    width: 50%;
    float: right;
    background-color: grey;
}

.innerChild{
    /* width: 100px;
    height:100px; */
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}

/* form section */
.form_container{
    border: 1px solid rgb(62, 65, 71);
    border-radius: 5px;
    margin: 8px;
}

.form_container h1{
    display: block;
    font-size: 25px;
    margin: 2px auto;
    width: 100px;
    text-align: center;
}

.form_container input{
    display: block;
    width: 300px;
    padding: 5px;
    margin: 15px;
    font-size: 15px;
}

.form_container .clearfix{
    content: "";
    clear: both;
    display: table;
}

.clearfix a{
    text-decoration: none;
}

.btn{
    margin: 8px;
    background-color: grey;
    border-radius: 3px;
    color: black;
    cursor: pointer;
}

.loginbtn{
    width: 150px;
    padding: 5px;
    float: left;
}

.signupbtn{
    width: 150px;
    float: right;
    padding: 5px;
}

.nopad{
    position: absolute;
    top: o;
    left: 0;
    z-index: 1;

}

/* 
.alert{
    position: absolute;
    width: 50vw;
    margin: auto;
    top: 65px;
    background-color: rgb(128 253 126 / 70%);
    left: 50%;
    transform: translatex(-50%);
    font-size: 22px;
    padding: 13px;
    border-radius: 15px;
    z-index: 1;
}

.btn-close{
    position: relative;
    right: 30px;
    float: right;
    background-color: rgb(128 253 126 / 70%);
    color: black;
    padding: 4px;
    border-radius: 7px;
}

.alert a{
    text-decoration: none;
} */

.alert{
    position: absolute;
    width: 50%;
    z-index: 1;
    font-size: 20px;
    padding: 20px;
    border-radius: 35px;
    top: 40px;
    margin: auto;
    background-color: rgb(128 253 126 / 70%);
    left: 50%;
    transform: translateX(-50%);
}

.close-btn{
    float: right;
    padding: 5px;
    border: none;
    background-color: rgb(128 253 126 / 70%);
}